SCHWABBER_API_KEY=
SCHWAB_CLIENT_ID=
SCHWAB_CLIENT_SECRET=
SCHWAB_CALLBACK_URL=https://127.0.0.1:8182
SCHWAB_TOKEN_PATH=/data/token.json
SCHWAB_REFRESH_TOKEN_MAX_AGE_DAYS=7
SCHWAB_REFRESH_TOKEN_WARN_AGE_DAYS=6
SCHWABBER_REQUESTS_PER_MINUTE=60
SCHWABBER_LOG_LEVEL=INFO
SEC_USER_AGENT=
